.home-farm{
  background-image: url('./assets/farm.jpg');
  background-size: 100% 80%;
  background-repeat: no-repeat;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-div{
  box-shadow: 10px;
}

